<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-item lines=none>
      <div>
        <div>
          <img src="/assets/logo.png" />
          <h3>PicTips</h3>
        </div>
        <div>
          <p>"To me, photography is an art of observation. It’s about finding something interesting in an ordinary place… I’ve found it has little to do with the things you see and everything to do with the way you see them." - <a href="https://www.elliotterwitt.com/" target="_blank">Elliott Erwitt</a></p>
        </div>
      </div>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h4>Basics of Photography</h4>
    <p>There are three pillars of photograph:</p>
      <ul>
        <li>Aperture</li>
        <li>Shutter Speed</li>
        <li>Iso</li>
      </ul>
      <ion-button 
        color="light"
        expand="block"
        fill="solid"
        size="small"
        (click)="openCheatSheet()"
      >
        Open Cheat Sheet
      </ion-button>
  </div>
  <div>
    <h4>What is Aperture?</h4>
    <p>
      Aperture can be defined as the opening in a lens through which light passes to enter the camera. It is an easy concept to understand if you just think about how your eyes work. As you move between bright and dark environments, the iris in your eyes either expands or shrinks, controlling the size of your pupil.
    </p>
    <p>
      In photography, the “pupil” of your lens is called aperture. You can shrink or enlarge the size of the aperture to allow more or less light to reach your camera sensor.
    </p>
    <ion-button 
        color="light"
        expand="block"
        fill="solid"
        size="small"
      >
        <a href="https://www.youtube.com/watch?v=YojL7UQTVhc" target="_blank">Learn more - Aperture</a>
      </ion-button>
  </div>
  <div>
    <h4>What is Shutter Speed?</h4>
    <p>
      Shutter speed is the length of time the camera shutter is open, exposing light onto the camera sensor. Essentially, it’s how long your camera spends taking a photo. This has a few important effects on how your images will appear.
    </p>
    <p>
      If your shutter speed is long (exposing your sensor for a significant period of time), moving subjects in your photo will appear blurred along the direction of motion. On the other hand, shutter speed can also be used to do just the opposite – freeze motion.
    </p>
    <ion-button 
        color="light"
        expand="block"
        fill="solid"
        size="small"
      >
        <a href="https://www.youtube.com/watch?v=7R9ZTxoTOSk" target="_blank">Learn more - Shutter Speed</a>
      </ion-button>
  </div>
  <div>
    <h4>What is ISO?</h4>
    <p>
      ISO is simply a camera setting that will brighten or darken a photo. As you increase your ISO number, your photos will grow progressively brighter. For that reason, ISO can help you capture images in darker environments, or be more flexible about your aperture and shutter speed settings.
    </p>
    <p>
      However, raising your ISO has consequences. A photo taken at too high of an ISO will show a lot of grain, also known as noise, and might not be usable. So, brightening a photo via ISO is always a trade-off.
    </p>
    <ion-button 
        color="light"
        expand="block"
        fill="solid"
        size="small"
      >
        <a href="https://www.youtube.com/watch?v=q8cj9Lj9w-g" target="_blank">Learn more - ISO</a>
      </ion-button>
  </div>
  <div>
      <h4>Credits:</h4> 
      <ul>
        <li>
          <a style="color: #FFFFFF;" href="https://photographylife.com/learn-photography" target="_blank">
            photographylife.com</a> -> Nasim Mansurov
        </li>
        <li>
          <a style="color: #FFFFFF;" href="https://www.youtube.com/channel/UCJFMWWscsO-msPiLj42eXiQ" target="_blank">Apalapse</a> -> Vincent Ledvina
        </li>
      </ul>
  </div>
</ion-content>
