.sign_background {
  --background: url('../../assets/background.jpg') 0 0/100% 100% no-repeat;
  background-size: cover;
}

.sign_container {
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;

  .sign_title {
    color: #000000;
    h1 {
      font-size: 55px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 0;
    }

    p {
      margin-top: 0;
      font-size: 14px;
      font-style: italic;
      text-align: center;
    }
  }

  .sign_form {
    margin-top: auto;
    margin-bottom: 10px;
    align-self: center;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      button {
        &:first-child {
          width: 90vw;
          height: 40px;
          border-radius: 20px;
          border: none;
          padding: 5px 20px;
          background-color: #2e2e2e;
        }

        &:last-child {
          margin-top: 10px;
          margin-bottom: 10px;
          width: 90vw;
          height: 40px;
          border-radius: 20px;
          border: 1px solid #2e2e2e;
          padding: 5px 20px;
          background-color: #ffffff;
          color: #000000;
        }
      }
    }
    p {
      text-align: center;
      color: #000000;
      margin: 0 0 20px 0;
      span {
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}
